* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}


body {
    display: flex;
    background: #f5f5f5;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    padding: 12px 32px;
    background: #0e1e4d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}


.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-header {
    width: 75px;
    height: 75px;
    object-fit: contain;
}

.brand-text {
    color: white;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 1px;
}

.notif {
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-bell {
    width: 30px;
    height: 30px;
}

.menu-item {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 10px;
    padding: 29px 29px;
    border-radius: 29px;
    background: rgba(255, 255, 255, 0.08);
    cursor: pointer;
    transition: 0.25s;
    font-size: 18px;
}

.menu-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    height: 50px;
    align-items: center;
    transition: 0.25s;
    font-size: 18px;
    gap: 10px;
}

.menu-item.active {
    background: #d2a06b !important;
    color: #ffffff;
    font-weight: 600;
}

.menu-item.active .icon {
    fill: #ffffff;
}


.menu-item:hover:not(.active) {
    background: rgba(255, 255, 255, 0.18);
}

.icon {
    width: 22px;
    height: 22px;
    fill: white;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.search {
    width: 500px;
    padding: 10px 14px;
    background: rgba(255, 255, 255, 0.15) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 24 24'%3E%3Cpath d='M10 2a8 8 0 105.293 14.293l4.707 4.707 1.414-1.414-4.707-4.707A8 8 0 0010 2zm0 2a6 6 0 110 12 6 6 0 010-12z'/%3E%3C/svg%3E") no-repeat 18px center;
    background-size: 28px;
    padding-left: 60px;
    border: none;
    outline: none;
    border-radius: 25px;
    color: white;
    margin-left: -60px;
    font-size: 20px;
}

.search::placeholder {
    color: #c9cbda;
}


.user-area {
    display: flex;
    align-items: center;
    gap: 12px;
}

.notif {
    font-size: 20px;
}

.avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info {
    color: white;
    font-size: 18px;
}


.sidebar {
    width: 260px;
    background: #1c407a;
    color: white;
    padding: 140px 24px 24px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar ul li {
    list-style: none;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.sidebar ul li.active,
.sidebar ul li:hover {
    background: #476097;
}

.mari {
    font-size: 35px;
}

.karena {
    font-size: 25px;
    word-spacing: 2.5px;
    color: #d2a06b;

}

main {
    flex: 1;
    padding: 120px 40px 40px;
    margin-left: 260px;
}


.hero {
    display: flex;
    background: #10204f;
    color: white;
    border-radius: 14px;
    padding: 35px;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.ornamen-left {
    position: absolute;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: rgba(80, 80, 64, 0.45);
    left: -80px;
    bottom: -120px;
}

.ornamen-right {
    position: absolute;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: rgba(80, 64, 64, 0.45);
    right: -80px;
    top: -120px;
    position: absolute;
    z-index: 1;
}

.hero-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.image-wrapper {
    width: 280px;
    height: 280px;
    background: #2c324e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid #d2a06b;
    overflow: hidden;

}


.image-wrapper img {
    width: 90%;
    height: auto;
}



.progress-box {
    background: rgba(255, 255, 255, 0.12);
    padding: 32px 28px;
    border-radius: 14px;
    margin: 25px 0;
    width: 420px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(4px);
}


.progress-box .label {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
}


.progress-box .percent {
    float: right;
    font-size: 18px;
    font-weight: 600;
    color: #d1a057;
}


.progress-bar {
    height: 9px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 5px;
    margin: 14px 0;
    width: 100%;
}


.progress-bar .fill {
    width: 0;
    height: 100%;
    background: #d1a057;
    border-radius: 5px;
}


.progress-box p {
    color: #d9d9d9;
    margin: 0;
    font-size: 15px;
}


.btn-primary {
    background: #d2a06b;
    border: none;
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    z-index: 5;
}

.quick-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 28px;
    margin: 25px 0 40px;
}

.quick-card {
    width: 210px;
    background: #ffffff;
    border-radius: 22px;
    padding: 38px 28px;
    text-align: left;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: 0.25s;
    cursor: pointer;
}

.quick-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}


.icon-box {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: 0 auto 14px;
    background: #0e3a8a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
}

.materi-icon {
    background: #032F98;
}

.latihan-icon {
    background: #6D2D59;
}

.ebook-icon {
    background: #E2DC54;
}

.komunitas-icon {
    background: #DFEFCA;
}


.quick-card h3 {
    margin: 14px 0 4px;
    font-size: 22px;
    font-weight: 700;
    color: #111;
}

.quick-card p {
    font-size: 16px;
    color: #555;
}



.cards {
    display: flex;
    gap: 18px;
    margin-bottom: 35px;
}

.card {
    background: white;
    width: 130px;
    padding: 30px 0;
    text-align: center;
    border-radius: 12px;
}


.activity-list {
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 25px;
}


.activity-item {
    background: #f4f4f4;
    padding: 13px 17px;
    border-radius: 14px;
    display: flex;
    gap: 15px;
    align-items: flex-start;
}


.icon-box {
    width: 40px;
    height: 40px;
    border-radius: 12px;
}


.red {
    background: #ff6060;
}

.yellow {
    background: #e1cf5d;
}

.orange {
    background: #ffb866;
}

.activity-item .text p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #222;
}

.activity-item .text small {
    display: block;
    color: #777;
    margin-top: 4px;
    font-size: 13px;
}